/node_modules
/.env.local
/.umirc.local.ts
/config/config.local.ts
/src/.umi
/src/.umi-production
/.umi
/.umi-production
/.umi-test
/dist
/.mfsu

*.log
.idea
.vscode

yarn-error.log

# production
/dist
/src/public/data/*

# misc
.DS_Store